:root {
  --shadow-blue: rgb(38, 57, 77) 0px 20px 30px -10px;
  --drop-shadow: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  --orange: #d86a05;
}

.team-logo {
  position: absolute;
  bottom: -40px;
  right: 10px;
  width: 80px;
  height: 80px;
  filter: var(--drop-shadow);
}

.team-logo img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

/*== start of code for tooltips ==*/
.tool {
  cursor: help;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  filter: var(--drop-shadow);
}
/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: var(--orange) transparent transparent transparent;
  bottom: 100%;
  content: '';
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26),
    opacity 0.65s 0.5s;
  transform: scale(0.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
}

/*== speech bubble ==*/
.tool::after {
  background: var(--orange);
  border-radius: 0.25em;
  bottom: 103%;
  color: #edeff0;
  content: attr(data-tip);
  font-size: 1rem;
  padding: 0.4em 20px;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  transform: scale(0.6) translateY(50%);
}

.tool:hover::after,
.tool:focus::after {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

.rounded-pill {
  border-radius: 5rem !important;
}

.player-photo {
  position: relative;
  border-radius: 0.5rem;
  min-width: 300px;
  box-shadow: var(--shadow-blue);
  margin-bottom: 20px;
}

.player-photo img {
  border-radius: 0.5rem;
}

.youtube {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.youtube iframe {
  border: 5px solid;
  border-radius: 1rem;
  box-shadow: var(--shadow-blue);
}

@media (max-width: 375px) {
  .youtube iframe {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .youtube iframe {
    width: 100%;
  }
}

.center-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.center-flex img {
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.soccer-field {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.soccer-field img {
  height: 350px;
  width: 235px;
  object-fit: cover;
}

.soccer-field span {
  height: 350px;
  width: 235px;
  position: relative;
}

.pulse {
  position: relative;
}

.pulse::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #d86a05;
  animation: pulse 1500ms infinite;
  filter: var(--drop-shadow);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #d86a05;
  }
  100% {
    box-shadow: 0 0 0 30px #fbb32f01;
  }
}

.pulse.arquero::after {
  top: 310px;
  left: 102px;
}

.pulse.central::after {
  top: 159px;
  left: 102px;
}

.pulse.defensa::after {
  top: 220px;
  left: 102px;
}

.pulse.delantero::after {
  top: 90px;
  left: 102px;
}

.pulse.delantero-izquierdo::after {
  top: 90px;
  left: 32px;
}

.pulse.delantero-derecho::after {
  top: 90px;
  left: 170px;
}

.pulse.enganche::after {
  top: 130px;
  left: 102px;
}

.pulse.extremo-derecho::after {
  top: 90px;
  left: 170px;
}

.pulse.extremo-izquierdo::after {
  top: 90px;
  left: 32px;
}

.pulse.interior-derecho::after {
  top: 190px;
  left: 170px;
}

.pulse.lateral-derecho::after {
  top: 200px;
  left: 180px;
}

.pulse.lateral-izquierdo::after {
  top: 200px;
  left: 24px;
}

.pulse.media-punta::after {
  top: 130px;
  left: 102px;
}

.pulse.mediocampista::after {
  top: 159px;
  left: 102px;
}

.pulse.volante-central::after {
  top: 115px;
  left: 102px;
}

.pulse.volante-derecho::after {
  top: 115px;
  left: 170px;
}

.pulse.volante-izquierdo::after {
  top: 115px;
  left: 32px;
}

.pricing-table {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 375px) {
  .pricing-table {
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .pricing-table .plan.plan-featured {
    transform: scale(1);
  }
}

.pricing-table .plan {
  width: 350px;
}

.player-card {
  height: 400px;
  width: 285px;
  position: relative;
  transition: transform 0.2s;
  cursor: pointer;
  flex: none;
}

.player-card img {
  height: 100%;
}

.player-card:hover {
  transform: scale(1.1);
}

.player-name {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  text-transform: uppercase;
  padding: 0 31px;
  z-index: 10;
}

.player-name::before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  border-bottom: 1px solid white;
}

.player-name::after {
  content: '';
  position: absolute;
  bottom: -115%;
  width: 30%;
  left: 0;
  transform: translateX(117%) rotate(-90deg);
  border-bottom: 1px solid white;
}

.player-image {
  position: absolute;
  top: 37px;
  width: 57%;
  height: 171px;
  right: 40px;
  z-index: 5;
}

.player-image img {
  object-fit: scale-down;
}

.player-country {
  position: absolute;
  top: 115px;
  width: 50px;
  left: 50px;
  z-index: 10;
}

.player-club {
  position: absolute;
  top: 155px;
  width: 50px;
  left: 50px;
  z-index: 10;
}

.player-height {
  position: absolute;
  top: 250px;
  width: 70px;
  left: 64px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.player-weight {
  position: absolute;
  top: 250px;
  width: 70px;
  right: 64px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.player-position {
  position: absolute;
  top: 80px;
  width: 50px;
  left: 50px;
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.player-birth {
  position: absolute;
  top: 290px;
  width: 70px;
  right: 64px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.player-youtube {
  position: absolute;
  top: 290px;
  width: 50px;
  left: 64px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.owl-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
